<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    :expand-on-hover="true"
    :src="barImage"
    :color="barColor"
    :dark="false"
    mobile-break-point="960"
    app
    width="260"
    v-bind="$attrs"
  >
    <v-list expand nav>
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <base-item-group v-if="item.children" :key="`group-${i}`" :item="item">
          <!--  -->
        </base-item-group>

        <base-item v-else :key="`item-${i}`" :item="item" />
      </template>

      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
/* eslint-disable */
// Utilities
import { mapState } from 'vuex';

export default {
  name: 'DashboardCoreDrawer',

  // props: {
  //   expandOnHover: {
  //     type: Boolean,
  //     default: true
  //   }
  // },

  data: () => ({
    items: [
      {
        icon: 'mdi-view-dashboard',
        title: 'Dashboard',
        to: {name:'Dashboard'}
      },
      {
        icon: 'mdi-widgets',
        title: 'Portfolio',
        to: {name:'Portfolio'}
      },
      {
        icon: 'mdi-chart-timeline-variant',
        title: 'Explore',
        to: {name:'Explore'}
      }
    ],
    // barColor: 'rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)',
    barColor: 'rgb(222, 243, 253)',
    barImage: ''
  }),

  computed: {
    drawer: {
      get() {
        return this.$store.state.theme.drawer;
      },
      set(val) {
        this.$store.commit('theme/SET_DRAWER_M', val);
      }
    },
    computedItems() {
      return this.items.map(this.mapItem);
    }
  },

  watch: {
    '$vuetify.breakpoint.smAndDown': function(val) {
      this.$emit('update:expandOnHover', !val);
    }
  },

  methods: {
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: item.title
      };
    }
  }
};
</script>

<style lang="sass">
@import '~vuetify/src/styles/tools/_rtl.sass'

#core-navigation-drawer
  &.v-navigation-drawer--mini-variant
    .v-list-item
      justify-content: flex-start !important

    .v-list-group--sub-group
      display: block !important

  .v-list-group__header.v-list-item--active:before
    opacity: .24

  .v-list-item
    &__icon--text,
    &__icon:first-child
      justify-content: center
      text-align: center
      width: 20px

      +ltr()
        margin-right: 24px
        margin-left: 12px !important

      +rtl()
        margin-left: 24px
        margin-right: 12px !important

  .v-list--dense
    .v-list-item
      &__icon--text,
      &__icon:first-child
        margin-top: 10px

  .v-list-group--sub-group
    .v-list-item
      +ltr()
        padding-left: 8px

      +rtl()
        padding-right: 8px

    .v-list-group__header
      +ltr()
        padding-right: 0

      +rtl()
        padding-right: 0

      .v-list-item__icon--text
        margin-top: 19px
        order: 0

      .v-list-group__header__prepend-icon
        order: 2

        +ltr()
          margin-right: 8px

        +rtl()
          margin-left: 8px
</style>
