/* eslint-disable vue/no-unused-components */
<template>
  <v-content>
    <router-view />
  </v-content>
</template>

<script>
export default {
  name: 'DashboardCoreView',

  components: {
    DashboardCoreFooter: () => import('./Footer')
  }
};
</script>
