#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // margin-top: 50px;
  background-color: #ffffff;
}

.v-content {
  background-color: #ffffff !important;
}


.v-application {
  .success {
    background-color: #23ded8 !important;
    border-color: #23ded8 !important;
    background-color: red !important;
  }
}