<template>
  <v-app class="b-bgimg">
    <v-container id="login" class="fill-height" tag="section">
      <v-row justify="center">
        <v-col md="6">
          <v-slide-y-transition appear>
            <base-material-card light max-width="100%" width="400" class="px-5 py-3 ml-auto mr-auto">
              <template v-slot:heading>
                <div class="text-center">
                  <h1 class="display-2 font-weight-bold mb-2">Login</h1>
                  
                  <!-- <h1>{{foo}}</h1> -->

                  <v-btn
                    v-for="(social, i) in socials"
                    :key="i"
                    :href="social.href"
                    class="ma-1"
                    icon
                    rel="noopener"
                    target="_blank"
                  >
                    <v-icon v-text="social.icon" />
                  </v-btn>
                </div>
              </template>

              <v-card-text class="text-center">
                <v-text-field color="secondary" label="First Name..." prepend-icon="mdi-face" class="mt-10" />

                <v-text-field color="secondary" label="Email..." prepend-icon="mdi-email" />

                <v-text-field class="mb-8" color="secondary" label="Password..." prepend-icon="mdi-lock-outline" />

                <pages-btn 
                large depressed
                color="" class="v-btn--text success--text">
                  Submit
                </pages-btn>
              </v-card-text>
            </base-material-card>
          </v-slide-y-transition>
        </v-col>
      </v-row>
    </v-container>
    <pages-core-footer />
  </v-app>
</template>
<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import tstMxn from '@/mixins/Test';
import hlpr from '@/mixins/Helper';
import cnfg from '@/config';


@Component
export default class LoginPage extends mixins(hlpr,tstMxn) {  
  socials: object[] = [
    {
      href: '#',
      icon: 'mdi-facebook-box'
    },
    {
      href: '#',
      icon: 'mdi-twitter'
    },
    {
      href: '#',
      icon: 'mdi-github-box'
    }
  ];


  created(){
    console.log('process', process.env);
  };


}

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// export default {
//   name: 'PagesLogin',
//   components: {
//     PagesBtn: () => import('./components/Btn.vue'),
//     PagesCoreFooter: () => import('./components/core/Footer.vue')
//   },

//   data: () => ({
//     socials: [
//       {
//         href: '#',
//         icon: 'mdi-facebook-box'
//       },
//       {
//         href: '#',
//         icon: 'mdi-twitter'
//       },
//       {
//         href: '#',
//         icon: 'mdi-github-box'
//       }
//     ]
//   }),

//   created() {
//     console.log('process', process.env);
//   },

//   computed: {
//     foo() {
//       return cnfg.app.apiUrl;
//     }
//   }
// };
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
</script>

<style lang="scss" scoped>
.b-bgimg {
  background-image: url('/b-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
</style>
