<template>
<span></span>
</template>

<script>
import cnfg from '@/config'

export default {
	created() {
        this.$store.dispatch('auth/logout_a')
        .then(response=>{

            // console.log("logout_a = "+config.auth.roleIndex[this.$store.state.auth.auth_user.role]);
            // alert("logout_a = "+config.auth.roleIndex[this.$store.state.auth.auth_user.role]);
                        
            // this.$router.push("/login");
            window.location.href = "/login";

        })
        .catch(error=>{
            console.log(error);           
            // this.$router.push("/login");
            window.location.href = "/login";
        });
        
	},
};

</script>
