<template>
  <v-container id="register" class="fill-height" tag="section" style="width:600px;">
    <v-row justify="center">
      <v-col cols="12">
        <v-slide-y-transition appear>
          <v-card class="pa-3 pa-md-5 mx-auto" light>
            <pages-heading class="text-center display-3">Register</pages-heading>

            <v-row>
              <v-col cols="12" md="12">
                <div class="text-center">
                  <!-- <v-btn                    
                    v-for="(social, i) in socials"
                    :key="i"
                    :color="social.iconColor"
                    class="my-2 mr-1"
                    dark
                    depressed
                    fab
                    small
                  >
                    <v-icon v-text="social.icon" />
                  </v-btn>-->

                  <div class="my-2" />

                  <v-text-field
                    v-model="user.first_name"
                    color="secondary"
                    label="First Name..."
                    prepend-icon="mdi-face"
                  />

                  <v-text-field
                    v-model="user.last_name"
                    color="secondary"
                    label="Last Name..."
                    prepend-icon="mdi-face"
                  />

                  <v-text-field
                    v-model="user.email"
                    color="secondary"
                    label="Email..."
                    prepend-icon="mdi-email"
                  />

                  <v-text-field
                    class="mb-8"
                    color="secondary"
                    label="Password..."
                    v-model="user.password"
                    type="password"
                    prepend-icon="mdi-lock-outline"
                  />

                  <v-checkbox :input-value="true" color="secondary">
                    <template v-slot:label>
                      <span class="text-no-wrap mr-1">I agree to the &nbsp; &nbsp;</span>

                      <a class="secondary--text ml-6 ml-sm-0" href="#">terms and conditions</a>.
                    </template>
                  </v-checkbox>

                  <pages-btn color="success" @click="submit()">Register</pages-btn>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-slide-y-transition>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { mixins } from 'vue-class-component';
import { User } from '@/types/models';
import TestMixin from '@/mixins/Test';
import PagesBtn from './components/Btn.vue';
import PagesHeading from './components/Heading.vue';
import cnfg from '@/config';

@Component({
  components: {
    PagesBtn,
    PagesHeading
  },
  props: {}
})
export default class extends mixins(TestMixin) {
  // data
  user: User = {
    first_name: '',
    last_name: '',
    email: '',
    password: ''
  };

  // method
  submit() {
    console.log(this.user);
    // registration.partnerRegistration_a(this.user)
    // .then((rspns)=>{
    //   console.log('rspns',rspns);
    // });
    this.$store
      .dispatch('registration/partnerRegistration_a', this.user)
      .then((response) => {
        
      })
      .catch((e) => {
        this.formloading = false;
      })
      .finally(() => {
        this.formloading = false;
      });
  }

  // Lifecycle hooks
  created() {
    this.test2();
  }

  mounted() {}

  updated() {}

  destroyed() {}
}

// export default {
//   name: 'PagesRegister',

//   components: {
//     PagesBtn: () => import('./components/Btn'),
//     PagesHeading: () => import('./components/Heading')
//   },

//   data: () => ({
//     socials: [
//       {
//         href: '#',
//         icon: 'mdi-twitter',
//         iconColor: '#1DA1F2'
//       },
//       {
//         href: '#',
//         icon: 'mdi-dribbble',
//         iconColor: '#ea4c89'
//       },
//       {
//         href: '#',
//         icon: 'mdi-facebook',
//         iconColor: '#3B5998'
//       }
//     ]
//   })
// };
</script>

<style lang="sass">
#register
  .v-list-item__subtitle
    -webkic-line-clamp: initial
    -webkit-box-orient: initial
</style>
