<template>
  <v-app>
    <router-view name="appbar" />

    <!-- Drawer will not be needed for now -->
    <router-view name="drawer" />

    <v-content>
      <router-view />
    </v-content>

    <router-view name="footer" />

    <router-view name="dialog" />
  </v-app>
</template>

<script>
export default {
  name: 'Billboardly',
  data: () => ({})
};
</script>
